<div class="card mb-3">
  <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1661398706538-4adf5b62d47a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Clientes</h5>
    <div class="d-flex flex-wrap justifify-content-around">
      <div class="icon-brand col-2"><fa-icon [icon]="faMicrosoft"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faGoogle"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faAmazon"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faApple"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faAngular"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faCcMastercard"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faCcVisa"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faFedex"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faGithub"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faJava"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faLess"></fa-icon></div>
      <div class="icon-brand col-2"><fa-icon [icon]="faPaypal"></fa-icon></div>
    </div>
  </div>
</div>

