<div class="card mb-3">
  <img class="card-img-top" src="https://unsplash.com/photos/Dkn8-zPIbwo/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTF8fGNvbnRhdG98cHR8MHx8fHwxNjkyNTg5MjQwfDA&force=true&w=2400" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-center">Fale consoco</h5>
    <p class="card-text text-center">
      <fa-icon [icon]="faPhone"></fa-icon>
      (11) 4444-5555</p>
    <p class="card-text text-center">
      <a href="https://indratrainingemployee.firebaseapp.com/">
        <fa-icon [icon]="faGlobe"></fa-icon>
        hr_final-test.com/
      </a>

    <p class="card-text text-center">
      <a href="mailto:jtavares@minsait.com"><fa-icon [icon]="faMail"></fa-icon> hr_final-test@hr_final-test.com</a>
    </p>

    <p class="card-text text-center">
      <a href="#"><fa-icon [icon]="faFacebook"></fa-icon>@hr_finalTest</a>
    </p>

    <p class="card-text text-center">
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon> @hr_finalTest</a>
    </p>

    <p class="card-text text-center">
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon> @hr_finalTest</a>
    </p>

    <p class="card-text text-center">
      <a href="#"><fa-icon [icon]="faWhatsapp"></fa-icon> @hr_finalTest</a>
    </p>


  </div>
</div>

