<section class="cadastro col-12">
  <div class="cadastro-header d-flex justify-content-end"*ngIf="actionToPerform === 'Atualizar'">
    <fa-icon data-toggle="tooltip" data-placement="top" title="{{tooltips.fechar}}" [icon]="faClose" (click)="closeForm()"></fa-icon>
  </div>
  <h3 class="col-12 text-center">Cadastro de Empregados</h3>
  <hr>
  <div class="d-flex justify-content-center">
    <form [formGroup]="formCadastro" (ngSubmit)="submit()" >

      <div class="form-row">
        <div class="row d-flex justify-content-between">
          <div class="form-group col-md-4" hidden>
            <label for="inputId4">Id</label>
            <input type="text" class="form-control" id="inputId4" placeholder="Id" formControlName="id">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCorCabelo4">Cor do Cabelo</label>
            <input type="text" class="form-control" id="inputCorCabelo4" placeholder="CorCabelo" formControlName="corCabelo" >
          </div>
        </div>

        <div class="row d-flex">
          <div class="form-group col-md-4">
            <label for="inputNome4">Nome</label>
            <input type="text" class="form-control" id="inputNome4" placeholder="Nome" formControlName="nome">
          </div>
          <div class="form-group col-md-8">
            <label for="inputSobrenome2">Sobrenome 2</label>
            <input type="text" class="form-control" id="inputSobrenome2" placeholder="Sobrenome" formControlName="sobrenome">
          </div>

        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="inputFoto2">Link da Foto</label>
            <input type="text" class="form-control" id="inputFoto2" placeholder="Foto" formControlName="foto">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="endereco">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPhone">Telefone</label>
        <input type="text" class="form-control" id="inputPhone" formControlName="telefone">
      </div>


      <div class="form-row d-flex justify-content-between">
        <div class="form-group col-md-2">
          <label for="inputIdade">Idade</label>
          <input type="number" class="form-control" id="inputIdade" formControlName="idade">
        </div>
        <div class="form-group col-md-4">
          <label for="inputSalario">Salário</label>
          <input type="text" class="form-control" id="inputSalario" formControlName="salario" >
        </div>
        <div class="form-group col-md-4">
          <label for="inputGenero">Gênero</label>
          <select id="inputGenero" class="form-control" formControlName="genero">
            <option selected>Selecione...</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>

          </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-primary col-4 mt-3">{{actionToPerform}}</button>
      </div>

    </form>
  </div>
</section>
